.trainer img {
  width: 35%;
  height: auto;
  border-radius: 50%;
  display: block;
  margin: auto;
  background-blend-mode: color-burn;
  aspect-ratio: 1/1;
}
.trainer p:last-child {
  font-size: 1.9rem;
  padding: 0 15%;
  line-height: 3rem;
}
.trainer .social h5{
    display: none;
}
.trainer ul{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.trainer ul a{
    background-color: #f5fbf9;
    color: black;
    font-size: 2.5rem;
    width: 4rem;
    height: 4rem;
    box-shadow: 0px 1px 2px 2px rgba(0,0,0,0.1);
    border-radius: 0.5rem;
}
